@CHARSET "UTF-8";

body{TEXT-ALIGN: center;}
.lefttile{
text-align:left;
margin-left:0px;
}
.righttile{
text-align:right;
margin-left:10px;
}
.main{
text-align:center;
width:990px;
height:835px;
margin-left:auto;
margin-right:auto;
}
.title{
font-family:Arial;
font-size:13px;
font-weight:normal;
font-style:normal;
text-decoration:none;
color:#333333;
left:10px;
position:relative
}
.condcss{
right:-60px;
position:relative
}
.condcss2{
right:-47px;
position:relative
}
.condcss5{
right:-32px;
position:relative
}
.condcss52{
right:8px;
position:relative
}
.condcss6{
right:-24px;
position:relative
}
.datespan{
font-family:Arial;
font-size:13px;
font-weight:normal;
font-style:normal;
text-decoration:none;
color:#333333;
left:25px;
position:relative
}
.condcss7{
right:-26px;
position:relative
}
.semesteryearcss{
right:-26px;
position:relative
}
.semestercss{
right:-26px;
position:relative
}
.condcss4{
right:-21px;
position:relative
}
.tjcss{
right:-2px;
position:relative
}
.chartstypecss{
text-align:left;
left:78px;
position:relative
}
.reurnresultcss{
text-align:left;
margin-top:200px;
left:150px;
position:relative;
}
.lineheight8{
margin:8px;
}
.lineheight2{
margin:4px;
}
.sepline{
width:100%;
height:2px;
background:url(../images/tj-2_09.gif);
}

.statcontent{
text-align:left;
left:1px;
position:relative;
height:22px; padding:10px 0px; color:#555555; font-size:12px; border-bottom:1px solid #dddddd;
}

.labelcontent{
text-align:left;
left:120px;
position:relative
}

.labeltitle{
text-align:left;
left:5px;
position:relative;
font-weight:bold;
}

.stattable{
/*border:1px solid #dddddd;*/
box-shadow: 0 0 10px #B7B6B6;
border-radius: 8px;
background-color: rgba(255, 255, 255, 0.9);
transition-duration: 0.25s;
align:left;
width:400px;
border:solid 1px #F0FFF;
margin-top:80px;
}

.tdTitle{
text-align:left;
width:200px;
font-weight:bold;
}

.requesterror{
text-align:center;
color: red;
}


